:global .bold {
    font-weight: bold;
}

:global .blue {
    color: blue;
}

.red {
    color: red;
}

.red :global .bold {
    color: purple;
}

.bold {
    color: green;
}

.red .bold {
    color: yellow;
}
